.home_page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.home_page__header {
  height: 44px;
  width: 100%;
  margin: 0;
  background-color: whitesmoke;

  font-size: 20px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

.home_page__img {
  width: 70%;
}

.home_page__calendar {
  width: 100%;
  max-width: 500px;
}